body{margin:0;padding:0;text-decoration: none; text-align: left;}
input[type=text][readonly]{/*color:#666;*/}
form div{margin:0;padding:0;_display:inline-block;}
.divline{width:245px;/*padding-bottom:10px;padding-top:10px;*/float:left;clear:both;}
.divleft{width:25%;/*min-width:150px;*/min-height:1px;text-align:right;float:left;}
.divcenter{/*width:25%;/*min-width:210px;*/text-align:left;float:left;}
.divright{width:35%;/*min-width:210px;*/float:left;position:relative;clear:right;}
.hintBox {position:absolute;top:0px;left:0px;/*width:95%;*/padding:3px 5px 3px 5px;}
.clear{clear:both;}
.inputbox{/*line-height: 12px; color: rgb(102, 102, 102); text-decoration: none; background-color: rgb(255, 255, 255); */padding:3px 0;}
.TextRed{color:red}
.inputLabel {/*font-size:14px;font-weight:bold;line-height:18px;color:#777;*/}
.inputFocus {/*background:#fff993;*/}
.signalBox {min-height:1px;min-width:17px;margin-left:8px;_margin-left:4px;}
.linktext,.linktext:hover{/*color:#777;*/}
.warningText {color:#FF0000;font-weight:bold;}
.div_regimg{float:left;}
#regForm{width:215px;}
#line_reg{padding-top:0px;margin-top:0px;display:none}
#line_reg .divcenter{/*width:180px;*/}
#line_license .divcenter{width:215px;}
#line_button{}
#showmore{padding:0;}
#emailquee{margin:8px 5px 0 0;font-size:12px;}
#part_select{/*width:100%;border:1px solid #ddd*/}
#part_select td{/*border:1px solid #aaa*/}
#partmsg{}