<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqgame.mappers.VoteDao">

	<!-- 根据条件查询最新的一条问卷调查 -->
	<select id="getVote" resultType="com.zqgame.models.Vote"> 
		<![CDATA[ 
			SELECT 
				voteId,
       			voteTitle,
       			isMultiple,
       			options,
       			optionsCount,
       			results,
       			createTime
   		 	FROM
   		        kz_vote
   		    ORDER BY 
   		    	createTime DESC
   		    Limit 1        
   			 ]]>
	</select>
</mapper>